In [1]:
# Importing required libraries & data csv

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv('train.csv')
#df.head(5)

In [6]:
df.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.498991
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.806074
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.387103
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.485965
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.188962

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [4]:
def add_f(x):
    from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
    R = 6373.0

    lat1 = radians(x[6])
    lon1 = radians(x[5])
    lat2 = radians(x[8])
    lon2 = radians(x[7])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return (R * c)

df['dist'] = df.apply(add_f, axis=1)

In [7]:
def spd_f(x):
    return (3600*(x['dist']/x['trip_duration']))
df['Avg_Speed'] = df.apply(spd_f, axis=1)

In [8]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist,Avg_Speed
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.498991,11.860150
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.806074,9.806736
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.387103,10.825598
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.485965,12.469634
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.188962,9.839682

In [19]:
df[df['trip_duration']<30]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_hour,dist,Avg_Speed
842,id3263580,2,2016-05-21 12:46:46,2016-05-21 12:46:49,2,-73.782372,40.648766,-73.782372,40.648746,N,3,12,0.002122,2.545849
1107,id0729156,2,2016-06-23 13:36:48,2016-06-23 13:36:50,3,-73.827660,40.716175,-73.822113,40.711452,N,2,13,0.703286,1265.913957
1492,id2456838,1,2016-01-13 20:11:46,2016-01-13 20:11:53,1,-73.793442,40.644814,-73.795242,40.644669,N,7,20,0.152813,78.589577
1620,id0753277,1,2016-01-27 22:29:31,2016-01-27 22:29:58,1,-74.209854,40.816853,-74.209854,40.816853,N,27,22,0.000000,0.000000
1728,id2134482,1,2016-01-22 16:13:01,2016-01-22 16:13:20,1,-73.776314,40.645454,-73.776314,40.645454,N,19,16,0.000000,0.000000
1960,id0508736,1,2016-03-30 08:05:38,2016-03-30 08:05:41,1,-73.964096,40.777172,-73.964088,40.777157,N,3,8,0.001815,2.177779
2441,id2251007,2,2016-05-23 14:20:49,2016-05-23 14:20:57,1,-73.781830,40.644699,-73.781830,40.644699,N,8,14,0.000000,0.000000
2567,id1837685,2,2016-05-16 08:52:03,2016-05-16 08:52:22,1,-73.950813,40.802563,-73.950195,40.802368,N,19,8,0.056353,10.677377
2625,id3885040,1,2016-04-18 12:55:14,2016-04-18 12:55:20,1,-73.788239,40.641476,-73.788239,40.641476,N,6,12,0.000000,0.000000
2784,id0305344,1,2016-06-10 06:14:28,2016-06-10 06:14:34,1,-73.790184,40.646637,-73.790184,40.646641,N,6,6,0.000424,0.254585
3042,id2206138,1,2016-01-21 12:07:45,2016-01-21 12:07:51,1,-73.782715,40.643967,-73.782715,40.643967,N,6,12,0.000000,0.000000
3070,id2857295,2,2016-01-28 23:34:01,2016-01-28 23:34:09,6,-73.994423,40.734810,-73.993752,40.734558,N,8,23,0.063137,28.411687
3261,id1606138,2,2016-04-27 15:14:54,2016-04-27 15:15:01,2,-74.177780,40.690281,-74.177780,40.690281,N,7,15,0.000000,0.000000
3305,id0210376,1,2016-05-10 14:08:36,2016-05-10 14:08:42,1,-73.796432,40.645237,-73.797707,40.645401,N,6,14,0.109067,65.440219
3480,id1622938,1,2016-04-03 13:08:49,2016-04-03 13:08:59,1,-73.987228,40.739525,-73.987228,40.739529,N,10,13,0.000424,0.152751
3708,id1006773,1,2016-02-04 20:57:54,2016-02-04 20:58:06,1,-73.998756,40.760258,-73.998764,40.760227,N,12,20,0.003455,1.036437
4052,id3843707,2,2016-01-25 19:07:11,2016-01-25 19:07:40,1,-73.990944,40.739563,-73.990295,40.739391,N,29,19,0.057893,7.186711
4158,id3695064,1,2016-04-11 15:30:02,2016-04-11 15:30:19,1,-73.794067,40.657173,-73.794067,40.657173,N,17,15,0.000000,0.000000
4171,id1271427,1,2016-06-26 13:52:10,2016-06-26 13:52:30,1,-73.951538,40.781155,-73.951530,40.781155,N,20,13,0.000643,0.115665
4597,id0719015,1,2016-06-11 16:09:09,2016-06-11 16:09:17,1,-73.988312,40.746204,-73.988419,40.746189,N,8,16,0.009159,4.121767
4892,id0915475,1,2016-03-14 06:03:38,2016-03-14 06:03:43,1,-73.982407,40.731144,-73.982407,40.731144,N,5,6,0.000000,0.000000
5010,id0233156,1,2016-01-25 16:28:15,2016-01-25 16:28:20,1,-73.978561,40.756397,-73.978638,40.756321,N,5,16,0.010646,7.665102
5013,id1005455,1,2016-02-09 11:27:53,2016-02-09 11:28:12,1,-73.794014,40.656876,-73.794014,40.656872,N,19,11,0.000424,0.080395
5992,id3738922,1,2016-02-12 11:33:01,2016-02-12 11:33:09,1,-73.781868,40.644676,-73.781822,40.644588,N,8,11,0.010496,4.723192
6777,id2891134,1,2016-05-16 08:20:40,2016-05-16 08:20:42,1,-73.963028,40.774895,-73.963020,40.774891,N,2,8,0.000770,1.386146
7005,id0260350,2,2016-02-14 14:09:41,2016-02-14 14:10:03,6,-73.776901,40.645432,-73.777191,40.646339,N,22,14,0.103907,17.002998
7469,id1174525,2,2016-06-25 08:35:43,2016-06-25 08:35:52,1,-74.015205,40.778599,-74.015144,40.778603,N,9,8,0.005158,2.063330
7757,id0393224,1,2016-01-04 18:20:40,2016-01-04 18:20:59,1,-73.997017,40.722420,-73.996902,40.722610,N,19,18,0.023306,4.415844
7794,id0688948,1,2016-04-14 20:13:28,2016-04-14 20:13:43,1,-74.161804,40.836494,-74.161804,40.836494,N,15,20,0.000000,0.000000
7916,id1081617,2,2016-03-17 17:50:40,2016-03-17 17:50:44,3,-73.978615,40.745125,-73.978340,40.745457,N,4,17,0.043571,39.213695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451438,id3450442,1,2016-04-02 04:04:08,2016-04-02 04:04:17,1,-73.869949,40.751682,-73.869949,40.751682,N,9,4,0.000000,0.000000
1451665,id2940147,2,2016-03-15 08:32:06,2016-03-15 08:32:30,2,-74.006073,40.740349,-74.007599,40.740952,N,24,8,0.145021,21.753099
1451676,id2864684,1,2016-01-09 18:30:40,2016-01-09 18:30:42,1,-73.987610,40.719975,-73.987656,40.719830,N,2,18,0.016579,29.842359
1451961,id3398199,2,2016-02-28 20:32:41,2016-02-28 20:32:52,1,-73.986099,40.759590,-73.986443,40.759918,N,11,20,0.046564,15.239239
1452491,id2674263,1,2016-04-19 08:06:05,2016-04-19 08:06:09,1,-73.985573,40.744991,-73.985573,40.744991,N,4,8,0.000000,0.000000
1452798,id2127090,2,2016-05-22 15:56:05,2016-05-22 15:56:09,1,-74.000481,40.762402,-74.000488,40.762409,N,4,15,0.001065,0.958106
1452832,id3867886,2,2016-03-20 06:38:09,2016-03-20 06:38:29,1,-73.961143,40.812004,-73.961670,40.811329,N,20,6,0.087203,15.696629
1452886,id3062447,2,2016-04-01 20:58:57,2016-04-01 20:59:14,1,-73.794121,40.656269,-73.794121,40.656269,N,17,20,0.000000,0.000000
1453813,id0889927,2,2016-01-18 12:25:23,2016-01-18 12:25:46,1,-73.939491,40.794750,-73.939697,40.794453,N,23,12,0.037366,5.848631
1454324,id0244725,1,2016-01-08 11:25:31,2016-01-08 11:26:00,1,-73.998833,40.718502,-73.998772,40.718513,N,29,11,0.005301,0.658006
1454881,id1847851,2,2016-02-22 07:38:52,2016-02-22 07:38:56,1,-73.975182,40.755562,-73.973877,40.755661,N,4,7,0.110476,99.428170
1454992,id0212594,1,2016-03-10 06:56:36,2016-03-10 06:56:39,1,-73.777618,40.646797,-73.777763,40.646816,N,3,6,0.012416,14.899545
1455164,id3936501,2,2016-01-30 20:16:25,2016-01-30 20:16:42,2,-73.996162,40.760891,-73.996162,40.760891,N,17,20,0.000000,0.000000
1455388,id0156896,2,2016-04-23 00:03:24,2016-04-23 00:03:30,1,-73.987518,40.749962,-73.987259,40.750324,N,6,0,0.045854,27.512516
1455459,id1109579,2,2016-02-05 18:39:12,2016-02-05 18:39:35,3,-73.981918,40.764881,-73.981880,40.764751,N,23,18,0.014780,2.313405
1455798,id2326514,1,2016-05-23 00:32:52,2016-05-23 00:32:57,1,-73.693184,40.743401,-73.692520,40.743797,N,5,0,0.071247,51.297833
1456043,id2926043,2,2016-04-30 03:13:27,2016-04-30 03:13:29,1,-73.900970,40.769283,-73.900963,40.769283,N,2,3,0.000643,1.156852
1456198,id3967591,1,2016-06-02 23:17:04,2016-06-02 23:17:11,1,-73.974136,40.795700,-73.974144,40.795681,N,7,23,0.002217,1.140006
1456302,id2814972,2,2016-03-01 03:46:55,2016-03-01 03:47:02,1,-73.955353,40.788460,-73.955353,40.788460,N,7,3,0.000000,0.000000
1456442,id3241296,2,2016-02-11 08:01:28,2016-02-11 08:01:35,1,-73.978844,40.761787,-73.978951,40.761833,N,7,8,0.010339,5.317398
1456613,id2650432,1,2016-06-06 18:37:15,2016-06-06 18:37:24,1,-73.789665,40.646984,-73.789658,40.646976,N,9,18,0.001065,0.426094
1456713,id2175576,2,2016-05-05 14:12:13,2016-05-05 14:12:38,1,-73.936790,40.764660,-73.936798,40.764557,N,25,14,0.011474,1.652304
1457121,id2651184,1,2016-04-03 07:24:06,2016-04-03 07:24:13,1,-73.913620,40.765675,-73.913620,40.765667,N,7,7,0.000849,0.436431
1457434,id1696408,1,2016-01-31 10:40:17,2016-01-31 10:40:46,1,-73.974785,40.742237,-73.974075,40.743286,N,29,10,0.131113,16.276142
1457462,id1813892,1,2016-01-19 18:09:44,2016-01-19 18:10:09,3,-73.951660,40.809105,-73.951668,40.809101,N,25,18,0.000770,0.110852
1457540,id1191995,1,2016-04-27 19:56:25,2016-04-27 19:56:49,2,-74.006447,40.782356,-74.006332,40.782333,N,24,19,0.009969,1.495363
1457746,id1044471,2,2016-01-29 21:58:11,2016-01-29 21:58:23,1,-73.975708,40.733089,-73.975685,40.733101,N,12,21,0.002311,0.693377
1458044,id3200588,2,2016-03-12 01:35:35,2016-03-12 01:35:42,1,-74.007378,40.739441,-74.007378,40.739449,N,7,1,0.000849,0.436431
1458085,id1326136,2,2016-05-21 12:07:11,2016-05-21 12:07:28,1,-73.978935,40.762463,-73.977654,40.762012,N,17,12,0.119027,25.205737
1458602,id2089150,1,2016-05-30 14:42:12,2016-05-30 14:42:38,1,-74.015457,40.708027,-74.015396,40.708138,N,26,14,0.013338,1.846767

In [20]:
df[df['dist']<.1]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_hour,dist,Avg_Speed
246,id3487442,2,2016-02-29 18:39:12,2016-02-29 18:42:59,1,-73.981819,40.768963,-73.981819,40.768963,N,227,18,0.000000,0.000000
251,id0171820,2,2016-05-25 06:40:04,2016-05-25 06:43:13,1,-74.004524,40.724194,-74.004494,40.724667,N,189,6,0.052677,1.003373
291,id0924324,2,2016-05-10 18:07:52,2016-05-10 18:26:21,2,-73.959068,40.775661,-73.959068,40.775661,N,1109,18,0.000000,0.000000
323,id2954399,1,2016-06-27 11:22:37,2016-06-27 11:23:17,1,-74.001030,40.756653,-74.000999,40.756626,N,40,11,0.003929,0.353567
337,id0790613,1,2016-05-20 14:04:03,2016-05-20 14:33:41,1,-73.986305,40.777023,-73.985855,40.776791,N,1778,14,0.045907,0.092950
407,id1145809,2,2016-05-16 23:15:13,2016-05-16 23:31:00,6,-73.808487,40.687336,-73.808487,40.687336,N,947,23,0.000000,0.000000
505,id3539226,2,2016-05-05 02:49:46,2016-05-05 02:50:53,1,-74.007004,40.739872,-74.005898,40.740173,N,67,2,0.099075,5.323417
552,id0131920,2,2016-02-13 17:24:28,2016-02-13 17:56:13,1,-73.996605,40.725510,-73.996239,40.725796,N,1905,17,0.044336,0.083784
702,id3499387,1,2016-01-25 19:45:12,2016-01-25 19:54:52,1,-73.786720,40.647041,-73.786720,40.647041,N,580,19,0.000000,0.000000
842,id3263580,2,2016-05-21 12:46:46,2016-05-21 12:46:49,2,-73.782372,40.648766,-73.782372,40.648746,N,3,12,0.002122,2.545849
850,id2386155,2,2016-01-24 12:42:54,2016-01-24 12:54:20,1,-73.983528,40.738029,-73.983238,40.737949,N,686,12,0.026008,0.136485
1182,id0971699,1,2016-05-19 07:20:41,2016-05-19 07:21:22,1,-73.992729,40.737503,-73.992737,40.737450,N,41,7,0.005975,0.524635
1334,id0953001,1,2016-05-28 06:15:14,2016-05-28 06:15:54,1,-73.984039,40.746639,-73.984070,40.746628,N,40,6,0.002869,0.258251
1378,id2295021,2,2016-04-10 17:39:50,2016-04-10 18:48:17,6,-73.903511,40.639160,-73.903107,40.639210,N,4107,17,0.034572,0.030304
1418,id3347941,1,2016-01-16 14:15:33,2016-01-16 15:03:49,2,-73.956352,40.781509,-73.956223,40.781605,N,2896,14,0.015227,0.018928
1620,id0753277,1,2016-01-27 22:29:31,2016-01-27 22:29:58,1,-74.209854,40.816853,-74.209854,40.816853,N,27,22,0.000000,0.000000
1728,id2134482,1,2016-01-22 16:13:01,2016-01-22 16:13:20,1,-73.776314,40.645454,-73.776314,40.645454,N,19,16,0.000000,0.000000
1769,id2892749,1,2016-01-18 15:24:43,2016-01-18 15:28:57,5,-73.954666,40.821003,-73.954666,40.821003,Y,254,15,0.000000,0.000000
1960,id0508736,1,2016-03-30 08:05:38,2016-03-30 08:05:41,1,-73.964096,40.777172,-73.964088,40.777157,N,3,8,0.001815,2.177779
2087,id0931199,2,2016-05-04 22:28:43,2016-05-04 22:32:51,1,-73.954628,40.777180,-73.954628,40.777180,N,248,22,0.000000,0.000000
2441,id2251007,2,2016-05-23 14:20:49,2016-05-23 14:20:57,1,-73.781830,40.644699,-73.781830,40.644699,N,8,14,0.000000,0.000000
2567,id1837685,2,2016-05-16 08:52:03,2016-05-16 08:52:22,1,-73.950813,40.802563,-73.950195,40.802368,N,19,8,0.056353,10.677377
2609,id1992673,2,2016-03-02 20:10:41,2016-03-02 20:30:53,5,-73.875313,40.773682,-73.875313,40.773682,N,1212,20,0.000000,0.000000
2625,id3885040,1,2016-04-18 12:55:14,2016-04-18 12:55:20,1,-73.788239,40.641476,-73.788239,40.641476,N,6,12,0.000000,0.000000
2710,id0111601,1,2016-02-02 00:48:37,2016-02-02 00:51:49,1,-73.945366,40.751598,-73.945282,40.751537,N,192,0,0.009803,0.183804
2731,id1928232,1,2016-06-21 17:04:05,2016-06-21 17:10:48,1,-73.834335,40.766262,-73.834229,40.766094,N,403,17,0.020725,0.185135
2784,id0305344,1,2016-06-10 06:14:28,2016-06-10 06:14:34,1,-73.790184,40.646637,-73.790184,40.646641,N,6,6,0.000424,0.254585
3014,id3206922,2,2016-04-24 18:38:34,2016-04-24 18:48:32,1,-73.985168,40.736259,-73.985168,40.736259,N,598,18,0.000000,0.000000
3042,id2206138,1,2016-01-21 12:07:45,2016-01-21 12:07:51,1,-73.782715,40.643967,-73.782715,40.643967,N,6,12,0.000000,0.000000
3070,id2857295,2,2016-01-28 23:34:01,2016-01-28 23:34:09,6,-73.994423,40.734810,-73.993752,40.734558,N,8,23,0.063137,28.411687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455304,id1799905,2,2016-02-17 08:08:40,2016-02-17 08:16:49,1,-73.981995,40.759571,-73.981995,40.759571,N,489,8,0.000000,0.000000
1455388,id0156896,2,2016-04-23 00:03:24,2016-04-23 00:03:30,1,-73.987518,40.749962,-73.987259,40.750324,N,6,0,0.045854,27.512516
1455437,id3153208,2,2016-01-09 18:49:48,2016-01-09 18:50:44,2,-73.869698,40.772583,-73.869797,40.772118,N,56,18,0.052435,3.370851
1455459,id1109579,2,2016-02-05 18:39:12,2016-02-05 18:39:35,3,-73.981918,40.764881,-73.981880,40.764751,N,23,18,0.014780,2.313405
1455798,id2326514,1,2016-05-23 00:32:52,2016-05-23 00:32:57,1,-73.693184,40.743401,-73.692520,40.743797,N,5,0,0.071247,51.297833
1455996,id3620451,2,2016-04-18 18:58:49,2016-04-18 18:59:27,2,-73.789970,40.647030,-73.789970,40.647030,N,38,18,0.000000,0.000000
1456043,id2926043,2,2016-04-30 03:13:27,2016-04-30 03:13:29,1,-73.900970,40.769283,-73.900963,40.769283,N,2,3,0.000643,1.156852
1456066,id3164164,2,2016-02-03 15:12:02,2016-02-03 15:54:36,1,-73.974709,40.793221,-73.975151,40.793491,N,2554,15,0.047918,0.067542
1456135,id1441158,1,2016-03-17 21:53:37,2016-03-17 22:01:16,2,-73.978439,40.736889,-73.978439,40.736889,N,459,21,0.000000,0.000000
1456198,id3967591,1,2016-06-02 23:17:04,2016-06-02 23:17:11,1,-73.974136,40.795700,-73.974144,40.795681,N,7,23,0.002217,1.140006
1456302,id2814972,2,2016-03-01 03:46:55,2016-03-01 03:47:02,1,-73.955353,40.788460,-73.955353,40.788460,N,7,3,0.000000,0.000000
1456399,id0618137,2,2016-02-17 08:57:04,2016-02-17 09:18:28,1,-73.978859,40.756721,-73.978859,40.756721,N,1284,8,0.000000,0.000000
1456425,id2241286,1,2016-04-28 06:33:58,2016-04-28 06:36:47,1,-73.776703,40.645382,-73.776840,40.645912,N,169,6,0.060107,1.280382
1456442,id3241296,2,2016-02-11 08:01:28,2016-02-11 08:01:35,1,-73.978844,40.761787,-73.978951,40.761833,N,7,8,0.010339,5.317398
1456613,id2650432,1,2016-06-06 18:37:15,2016-06-06 18:37:24,1,-73.789665,40.646984,-73.789658,40.646976,N,9,18,0.001065,0.426094
1456627,id1048767,2,2016-02-06 22:01:40,2016-02-06 22:03:47,1,-73.963554,40.768517,-73.963554,40.768517,N,127,22,0.000000,0.000000
1456713,id2175576,2,2016-05-05 14:12:13,2016-05-05 14:12:38,1,-73.936790,40.764660,-73.936798,40.764557,N,25,14,0.011474,1.652304
1456989,id2595295,2,2016-03-12 07:37:16,2016-03-12 07:46:42,1,-73.984848,40.728222,-73.984848,40.728222,N,566,7,0.000000,0.000000
1457093,id3941734,2,2016-04-27 13:57:29,2016-04-27 14:18:54,1,-73.964531,40.755989,-73.964958,40.755589,N,1285,13,0.057278,0.160468
1457114,id0051314,2,2016-04-09 20:34:21,2016-04-09 20:44:53,1,-73.965981,40.770988,-73.965981,40.770988,N,632,20,0.000000,0.000000
1457121,id2651184,1,2016-04-03 07:24:06,2016-04-03 07:24:13,1,-73.913620,40.765675,-73.913620,40.765667,N,7,7,0.000849,0.436431
1457136,id1907784,1,2016-03-25 20:06:52,2016-03-25 20:09:48,1,-73.966705,40.769783,-73.966705,40.769783,N,176,20,0.000000,0.000000
1457462,id1813892,1,2016-01-19 18:09:44,2016-01-19 18:10:09,3,-73.951660,40.809105,-73.951668,40.809101,N,25,18,0.000770,0.110852
1457540,id1191995,1,2016-04-27 19:56:25,2016-04-27 19:56:49,2,-74.006447,40.782356,-74.006332,40.782333,N,24,19,0.009969,1.495363
1457746,id1044471,2,2016-01-29 21:58:11,2016-01-29 21:58:23,1,-73.975708,40.733089,-73.975685,40.733101,N,12,21,0.002311,0.693377
1458044,id3200588,2,2016-03-12 01:35:35,2016-03-12 01:35:42,1,-74.007378,40.739441,-74.007378,40.739449,N,7,1,0.000849,0.436431
1458291,id0078326,2,2016-05-04 01:41:34,2016-05-04 01:46:52,1,-73.936874,40.764610,-73.936768,40.764694,N,318,1,0.012966,0.146781
1458371,id2197164,2,2016-02-25 16:41:23,2016-02-25 16:42:39,1,-73.978249,40.754009,-73.977837,40.754391,N,76,16,0.054821,2.596808
1458544,id3958653,1,2016-06-16 15:10:11,2016-06-16 15:10:49,1,-73.956459,40.767231,-73.956589,40.767269,N,38,15,0.011721,1.110422
1458602,id2089150,1,2016-05-30 14:42:12,2016-05-30 14:42:38,1,-74.015457,40.708027,-74.015396,40.708138,N,26,14,0.013338,1.846767

In [7]:
df[df['Avg_Speed']>200]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_hour,dist,Avg_Speed
1107,id0729156,2,2016-06-23 13:36:48,2016-06-23 13:36:50,3,-73.827660,40.716175,-73.822113,40.711452,N,2,13,0.703286,1265.913957
107171,id1656254,2,2016-01-18 00:35:38,2016-01-18 00:35:54,1,-73.805527,40.651360,-73.804230,40.661629,N,16,0,1.147469,258.180457
133641,id2362780,2,2016-06-30 05:01:03,2016-06-30 05:01:11,1,-74.164268,40.711639,-74.179352,40.711342,N,8,5,1.272144,572.464815
171801,id1733307,2,2016-06-26 18:02:38,2016-06-26 18:02:50,1,-73.792725,40.656902,-73.788948,40.647270,N,12,18,1.117773,335.332003
176589,id1724402,1,2016-05-17 06:34:59,2016-05-17 06:36:27,1,-73.969231,40.798122,-73.999260,40.753773,N,88,6,5.543681,226.786934
184925,id2306955,1,2016-05-07 18:58:53,2016-05-07 19:12:05,1,-72.809669,51.881084,-73.987228,40.750599,N,792,18,1241.298226,5642.264663
191997,id3892262,2,2016-03-13 15:19:35,2016-03-13 15:23:02,1,-73.975418,40.729980,-73.790306,40.643745,N,207,15,18.324075,318.679562
218935,id3333018,2,2016-06-22 11:40:46,2016-06-22 11:48:27,6,-73.679070,40.213837,-73.982361,40.767113,N,461,11,66.674451,520.668164
259403,id2507444,2,2016-01-27 09:03:12,2016-01-27 09:03:22,1,-73.807419,40.657215,-73.783249,40.643806,N,10,9,2.526807,909.650628
269418,id0553321,2,2016-04-11 19:01:35,2016-04-11 19:01:36,1,-73.945999,40.792202,-73.947411,40.792740,N,1,19,0.133065,479.034760
275644,id0978162,1,2016-02-24 16:20:59,2016-02-24 16:35:34,4,-75.354332,34.712234,-73.834923,32.181141,N,875,16,314.863015,1295.436404
283102,id2778014,2,2016-01-17 16:43:09,2016-01-17 16:50:16,1,-73.997086,40.728924,-72.671150,40.614220,N,427,16,112.584203,949.187662
287664,id3875012,2,2016-03-13 01:05:40,2016-03-13 01:05:42,2,-74.010735,40.728527,-74.010475,40.730782,N,2,1,0.251718,453.091524
305930,id3720883,2,2016-02-12 11:42:29,2016-02-12 11:42:45,3,-73.803856,40.678879,-73.802010,40.665524,N,16,11,1.493646,336.070438
312421,id3797635,2,2016-03-19 05:33:39,2016-03-19 05:33:48,3,-73.916389,40.757801,-73.912750,40.762600,N,9,5,0.615572,246.228824
334058,id0578768,2,2016-01-21 00:22:21,2016-01-21 00:22:36,1,-73.995796,40.726521,-73.956528,40.733551,N,15,0,3.401030,816.247257
377068,id0116374,1,2016-04-02 20:33:19,2016-04-02 20:38:01,1,-74.007095,40.717113,-76.963242,38.946033,N,282,20,320.226270,4087.994931
396714,id0112906,2,2016-04-10 19:51:29,2016-04-10 19:51:49,1,-73.792648,40.656761,-73.789902,40.643108,N,20,19,1.536186,276.513450
397526,id0982904,1,2016-04-28 13:32:14,2016-04-28 14:14:09,2,-73.870682,40.773598,-79.817978,38.963852,N,2515,13,546.024855,781.586273
404099,id1852853,2,2016-06-05 03:43:27,2016-06-05 03:43:31,2,-73.947441,40.686481,-73.947990,40.689301,N,4,3,0.316968,285.271236
412009,id3083944,2,2016-06-12 12:43:31,2016-06-12 12:43:35,1,-73.955193,40.768936,-73.953148,40.771748,N,4,12,0.357012,321.310376
421446,id3484419,2,2016-06-27 15:44:13,2016-06-27 15:44:16,6,-73.951782,40.797951,-73.956528,40.799911,N,3,15,0.455223,546.267487
429287,id1453940,2,2016-05-15 23:33:37,2016-05-15 23:33:41,6,-73.781654,40.644768,-73.784004,40.646206,N,4,23,0.254792,229.312472
467645,id0008221,2,2016-05-16 14:42:18,2016-05-16 14:42:19,1,-73.787086,40.647388,-73.789780,40.646992,N,1,14,0.231532,833.515070
473439,id0868400,2,2016-04-15 13:52:42,2016-04-15 13:53:42,1,-73.951378,40.770161,-73.985504,40.723377,N,60,13,5.945468,356.728088
500725,id0498762,2,2016-01-04 23:46:25,2016-01-04 23:49:29,1,-73.790382,40.643970,-73.945183,40.800091,N,184,23,21.721925,424.994187
551828,id2839853,2,2016-03-10 17:06:52,2016-03-10 17:07:06,2,-73.806007,40.651810,-73.797813,40.644798,N,14,17,1.042303,268.020891
568910,id1083093,2,2016-01-22 23:47:21,2016-01-22 23:47:24,2,-73.784416,40.648624,-73.785660,40.646393,N,3,23,0.269496,323.395067
587090,id1376591,2,2016-04-21 11:25:43,2016-04-21 11:25:46,1,-73.783890,40.648663,-73.785873,40.647743,N,3,11,0.196166,235.399403
595540,id1723416,1,2016-03-20 21:07:56,2016-03-20 21:12:35,1,-78.547401,40.817131,-79.786133,40.917637,N,279,21,104.792857,1352.165900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793555,id3095891,1,2016-02-02 16:38:11,2016-02-02 16:42:39,1,-73.793961,40.656490,-73.977463,40.772568,N,268,16,20.150622,270.680001
815627,id3457410,2,2016-06-17 00:35:24,2016-06-17 00:35:28,1,-73.940453,40.808941,-73.941917,40.806931,N,4,0,0.255364,229.827724
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1,5.953721,206.090340
889973,id1074797,2,2016-04-14 21:29:23,2016-04-14 21:29:28,6,-73.954628,40.711369,-73.953011,40.713921,N,5,21,0.314919,226.741498
898154,id1859761,2,2016-05-28 15:14:19,2016-05-28 15:14:39,1,-73.815674,40.700844,-73.783714,40.643608,N,20,15,6.913711,1244.468065
906281,id1935555,2,2016-06-19 20:18:35,2016-06-19 20:19:26,1,-73.781860,40.644657,-73.993690,40.724537,N,51,20,19.954414,1408.546874
907039,id1804545,2,2016-05-19 19:11:46,2016-05-19 19:11:51,1,-73.960258,40.769581,-73.963173,40.770809,N,5,19,0.280963,202.293541
910072,id1146400,1,2016-02-15 18:57:32,2016-02-15 19:02:35,2,-73.989914,40.756634,-70.346077,36.398121,N,303,18,579.024529,6879.499358
923793,id1001696,1,2016-02-24 21:02:32,2016-02-24 21:25:57,1,-73.972366,40.758633,-79.553535,43.674000,N,1405,21,562.411686,1441.054855
974378,id1510552,2,2016-01-06 20:40:52,2016-01-06 20:51:03,5,-71.799896,35.081532,-79.352837,40.436329,N,611,20,891.493875,5252.664405
979237,id2687624,2,2016-05-08 23:59:31,2016-05-09 00:00:00,1,-73.978317,40.745602,-73.987221,40.718849,N,29,23,3.068843,380.959785
999741,id3523631,2,2016-02-25 07:10:48,2016-02-25 07:10:55,1,-73.788147,40.641346,-73.786812,40.646187,N,7,7,0.550112,282.914580
1001028,id1653963,2,2016-06-12 06:35:13,2016-06-12 06:35:15,3,-73.922890,40.858200,-73.925850,40.851521,N,2,6,0.783593,1410.467382
1002256,id2133276,2,2016-06-17 20:42:48,2016-06-17 20:42:53,1,-73.952202,40.786423,-73.955566,40.787842,N,5,20,0.324350,233.532061
1013474,id3626673,1,2016-05-05 18:02:50,2016-05-05 18:18:23,1,-73.978912,40.756763,-79.338699,41.427902,N,933,18,455.384115,1757.109125
1060807,id0838705,1,2016-02-26 19:50:03,2016-02-26 20:08:54,1,-66.972160,44.371944,-69.048019,43.147583,N,1131,19,215.294137,685.286378
1064468,id0267475,2,2016-01-13 00:25:32,2016-01-13 00:25:44,1,-73.962646,40.760399,-73.953773,40.756439,N,12,0,0.867670,260.301080
1100676,id2644780,1,2016-05-03 16:24:07,2016-05-03 17:18:34,2,-73.991325,40.750023,-79.518616,43.921028,N,3267,16,575.055909,633.670423
1130403,id1083057,2,2016-06-26 11:18:18,2016-06-26 11:18:23,1,-73.975754,40.765499,-73.970680,40.763420,N,5,11,0.485970,349.898139
1134549,id3612940,2,2016-04-30 21:11:50,2016-04-30 21:11:54,1,-73.964256,40.770500,-73.965607,40.768620,N,4,21,0.238114,214.302985
1157625,id3331223,2,2016-06-18 19:35:41,2016-06-18 19:35:45,5,-73.897095,40.610332,-73.896828,40.613152,N,4,19,0.314373,282.936007
1158217,id0409794,2,2016-03-17 16:00:06,2016-03-17 16:00:14,1,-73.791237,40.646351,-73.797318,40.644810,N,8,16,0.541054,243.474290
1176337,id3619353,2,2016-02-13 20:28:30,2016-02-13 20:28:37,1,-73.936974,40.764610,-73.789848,40.646858,N,7,20,18.040066,9277.748311
1200843,id2579630,2,2016-06-13 16:34:30,2016-06-13 16:34:33,2,-73.804237,40.662342,-73.807533,40.655972,N,3,16,0.761215,913.457925
1319703,id0015520,2,2016-02-14 23:40:47,2016-02-14 23:40:57,1,-73.943909,40.792549,-73.940163,40.797821,N,10,23,0.665853,239.707137
1322903,id1389227,2,2016-01-17 03:11:56,2016-01-17 03:12:00,5,-73.998352,40.708530,-73.986382,40.710381,N,4,3,1.030063,927.056328
1328401,id1644758,2,2016-01-03 14:41:12,2016-01-03 14:44:19,1,-73.999992,40.689610,-73.965492,40.806030,N,187,14,13.271788,255.499668
1359910,id3628988,1,2016-05-05 18:21:37,2016-05-05 18:30:45,1,-79.569733,41.586273,-80.355431,42.090183,N,548,18,85.911837,564.384334
1390507,id3141426,2,2016-05-06 18:29:00,2016-05-06 18:29:05,1,-73.874718,40.730610,-73.867432,40.732868,N,5,18,0.663507,477.724781
1439166,id2943073,2,2016-01-03 16:55:44,2016-01-03 16:55:45,1,-73.975677,40.785488,-73.976372,40.785831,N,1,16,0.069837,251.411644